*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin:0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    align-items: center;
    display: flex;
}

.menu-items, ul {
    display: flex;
    align-items: center;
}
.menu-items, ul, li {
    list-style: none;
}
.menu-items ul li a {
    display: block;
    text-decoration: none;
    color: #727272;
    text-transform: uppercase;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.menu-items ul .active a,
.menu-items ul li a:hover {
    background-color: #39aae1;
    color: white;
}

.column {
    flex-direction: column;
}

#banner {
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 670px;
}
.banner-head {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    color: white;
    text-shadow: 0px 1px 2px #D1CFCF;
}
.banner-head h1 {
    font-size: 65px;
}
.banner-head h1 {
    font-size: 35px;
}

.banner-body {
    height: 210px;
    display: flex;
}
.banner1 {
    background-color: #39aae1;
    flex:1;
}
.banner2 {
    background-color: #0079c7;
    flex:1;
}
.banner3 {
    background-color: #2b4c99;
    flex:1;
}
.banner-title {
    font-size: 25px;
    color: white;
    padding: 15px;
}
.banner-text-content {
    margin-top: 5px;
    font-size: 15px;
    color: white;
    padding-left: 25px;
}
.banner-body a {
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
    margin-left: 25px;
    margin-top: 15px;
    color: white;
}
.banner-table-box {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
    border-bottom: 1px solid #1A2F60;
}
.banner-day, .banner-hour {
    padding: 5px
}

#principal {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 990px;
}
.container section {
    flex: 2;
}
.container aside {
    flex:1;
}

.widget-title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget-title-text {
    font-weight: bold;
    font-size: 20px;
}
.widget-title-text-bar {
    margin-top: 5px;
    height: 2px;
    width: 50px;
    background-color: #36ae91;
}
.widget-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.widget-container {
    width: 150px;
    height: 150px;
    background-color: #36a9e1;
    display: flex;
    margin-bottom: 30px;
}
.widget-content-text {
    font-size: 15px;
    color: #4B4B4B;
    padding: 10px;
    padding-left: 0;
    display: flex;
    align-items: center;

}
.widget-bar {
    margin-top: 5px;
    height: 2px;
    background-color: #D8D8D8;
    width: 330px;
}
.icon {
    height: 30px;
    width: 30px;
    background-color: grey;
    margin-right: 5px;
}

/* .flex {
    display: flex;
    flex-wrap: wrap;
} */
/* article {
    flex:1;
} */
article {
    width: auto;
}
article .news-date {
    display: flex;
}
article .news-created-at {
    background-color: #2b4c99;
    color: white;
    font-size: 15px;
    padding: 15px;
    margin-right: 5px;
}
article .news-comments {
    background-color: #36a9e1;
    color: white;
    padding: 15px;
    font-size: 15px;
}
article .news-thumbnail {
    margin-top: 10px;
}
article .news-thumbnail img {
    width: 100%;
    height: auto;
}
article .news-title {
    font-size: 30px;
}