*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin:0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    align-items: center;
    display: flex;
}

.menu-items, ul {
    display: flex;
    align-items: center;
}
.menu-items, ul, li {
    list-style: none;
}
.menu-items ul li a {
    display: block;
    text-decoration: none;
    color: #727272;
    text-transform: uppercase;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.menu-items ul .active a,
.menu-items ul li a:hover {
    background-color: #39aae1;
    color: white;
}

.column {
    flex-direction: column;
}

#banner {
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 670px;
}
.banner-head {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    color: white;
    text-shadow: 0px 1px 2px #D1CFCF;
}
.banner-head h1 {
    font-size: 65px;
}
.banner-head h1 {
    font-size: 35px;
}

.banner-body {
    height: 210px;
    display: flex;
}
.banner1 {
    background-color: #39aae1;
    flex:1;
}
.banner2 {
    background-color: #0079c7;
    flex:1;
}
.banner3 {
    background-color: #2b4c99;
    flex:1;
}
.banner-title {
    font-size: 25px;
    color: white;
    padding: 15px;
}
.banner-text-content {
    margin-top: 5px;
    font-size: 15px;
    color: white;
    padding-left: 15px;
    margin-bottom: 10px;
}
.banner-body a {
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    text-decoration: none;
    margin-left: 15px;
    margin-top: 15px;
    color: white;
}
.banner-table-box {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 25px;
    color: white;
    border-bottom: 1px solid #1A2F60;
}
.banner-day, .banner-hour {
    padding: 5px
}

#principal {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 990px;
}
.container section {
    flex: 2;
}
.container aside {
    flex:1;
}

.widget-title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget-title-text {
    font-weight: bold;
    font-size: 20px;
}
.widget-title-text-bar {
    margin-top: 5px;
    height: 2px;
    width: 50px;
    background-color: #36ae91;
}
.widget-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.widget-container {
    width: 150px;
    height: 150px;
    background-color: #36a9e1;
    display: flex;
    margin-bottom: 30px;
}
.widget-content-text {
    font-size: 15px;
    color: #4B4B4B;
    padding: 10px;
    padding-left: 0;
    display: flex;
    align-items: center;

}
.widget-bar {
    margin-top: 5px;
    height: 2px;
    background-color: #D8D8D8;
    width: 330px;
}
.icon {
    height: 30px;
    width: 30px;
    background-color: grey;
    margin-right: 5px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
article {
    flex:1;
    margin-right: 20px;
} 
article {
    width: auto;
    min-width: 300px;
}
article a {
    text-decoration: none;
}
article .news-date {
    display: flex;
}
article .news-created-at {
    background-color: #2b4c99;
    color: white;
    font-size: 15px;
    padding: 15px;
    margin-right: 5px;
}
article .news-comments {
    background-color: #36a9e1;
    color: white;
    padding: 15px;
    font-size: 15px;
}
article .news-thumbnail {
    margin-top: 10px;
}
article .news-thumbnail img {
    width: 100%;
    /* height: auto; */
}
article .news-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: black;
}
article .news-text-content  {
    color: #5c5c5c;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
}

.wrap {
    flex-wrap: wrap;
}
.blue {
    background-color: #2b4c99;
}

footer {
   display: flex;
   justify-content: center;
   background-color: black;
   flex-wrap: wrap;
}
footer .footer-banner-head {
    display: flex;
    flex: 1;
    width: auto;
}
footer .footer-banner1 {
    flex: 1;
}

footer .ex {
    background-color: orange;
    height: 200px;
}
footer .widget-title-text-footer {
    font-weight: bold;
    font-size: 20px;
    color: white;
}
footer .footer-banner-body {
    display: flex;
}
footer .widget-footer-text {
    color: #C6C2C2;
    font-size: 15px;
    line-height: 20px;
}
footer .widget-footer-text-white {
    color: white;
    font-size: 15px;
    line-height: 20px;
}
footer .widget-footer-text-createdAt {
    margin-top: 10px;
    color: #39aae1;
    margin-bottom: 10px;
}

.mobile-area-button {
    display: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.mobile-button {
    height: 3px;
    background-color: #39aae1;
}

@media (max-width: 768px ) {
    .menu-items ul li a {
        font-size: 13px;
    }

    .menu, .container {
        width: 734px;
    }
}
@media (max-width: 600px ) {

    .menu-items ul {
        display: flex;
        flex-direction: column;
        display: none;
    }

    .menu-items, ul {
        flex-direction: column;
    }
    
    .logo img {
        margin-left: 10px;
    }

    .mobile-area-button {
        display: flex;
        margin-right: 10px;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .banner-body, .footer-banner-head, .footer-banner-body {
        flex-direction: column;
        height: auto;
    }
    .banner-head h1, h2, .footer-banner-body {
        margin-left: 15px;
    }

    .banner-body a {
        margin-bottom: 10px;
    }

    #principal {
        margin-top: 20px;
    }

    .container {
        flex-direction: column;
    }

    .container .widget {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-right: 27px;
        margin-bottom: 10px;
    }

    .container section {
        margin-top: 30px;
    }
}
@media (max-width: 375px) {
    .container section {
        margin-top: 70px;
    }
}

@media (max-width: 320px) {
    .container .widget {
        margin-left: 40px;
        margin-right: 19px;
        margin-bottom: 10px;
    }


    footer .footer-banner-head {
        width: 320px;
    }
}
