*{
    box-sizing: border-box;
}

body {
    margin:0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    align-items: center;
    display: flex;
}

.menu-items, ul {
    display: flex;
    align-items: center;
}
.menu-items, ul, li {
    list-style: none;
}
.menu-items ul li a {
    display: block;
    text-decoration: none;
    color: #727272;
    text-transform: uppercase;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.menu-items ul .active a,
.menu-items ul li a:hover {
    background-color: #39aae1;
    color: white;
}

#banner {
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner-head {
    flex:1;
}
.banner-body {
    height: 210px;
}